.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.375rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logout {
  padding: 0.3125rem;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 0.1875rem;
}
